<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Entry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index_styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('methodology') }}">How it works</a></li>
            <li><a href="#results">Results</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="form-wrapper">
            <h1>Enter the OCLC</h1>
            <form action="/submit-code" method="post">
                <input type="text" name="code" placeholder="Your OCLC Book Code" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div id="results" class="content-section">
        <h2>Results</h2>
        <p>Here you can display the results...</p>
    </div>
</body>
</html>
