<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Entry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="#index">Home</a></li>
            <li><a href="#methodology">How it works</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="form-wrapper">
            <h1>Enter the OCLC</h1>
            <form action="/submit-code" method="post">
                <input type="text" name="code" placeholder="Your OCLC Book Code" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
