<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Methodology</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/methodology_styles.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="methodology.html">How it works</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="content-section">
            <h2>How it works</h2>
            <div class="frame">
                <div class="text">
                    <h3><span>Step 1:</span> <br>Find the book that you'd like to explore</h3>
                </div>
                <div class="image">
                    <img src="./images/find_book.webp" alt="Find the book">
                </div>
            </div>
            <div class="frame">
                <div class="text">
                    <h3><span>Step 2:</span> <br>Ask your librarian for the OCLC code</h3>
                </div>
                <div class="image">
                    <img src="images/talk_librarian.webp" alt="Ask your librarian">
                </div>
            </div>
            <div class="frame">
                <div class="text">
                    <h3><span>Step 3:</span> <br>Enter the OCLC and click on submit</h3>
                </div>
                <div class="image">
                    <img src="images/looking_pc.webp" alt="Enter the OCLC">
                </div>
            </div>
            <div class="frame">
                <div class="text">
                    <h3><span>Step 4:</span> <br>Download the pdf and analyze the results</h3>
                </div>
                <div class="image">
                    <img src="images/results.webp" alt="Download and analyze results">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
